@media screen and (max-width: 767px) {
    .notification-item {
        grid-template-columns: 1rem 0% calc(85% - 1rem) 15% !important;
    }
}

.add-inventory-panel {
    padding: 1.5rem 2rem;
    border: 3px dashed var(--theme-color);
    border-radius: 25px;
    margin-bottom: 1.2rem;
}

.add-inventory-btn {
    color: inherit !important;
    text-decoration: none !important;
}

.notification-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.notification-subheader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.notification-count {
    color: #FFF;
    background-color: var(--theme-color);
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    margin-right: 12px;
}

.notification-title {
    color: var(--theme-color);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.clear-all-btn {
    box-shadow: none !important;
    padding: 0;
    margin-right: 5px;
}

.notification-item {
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

    display: grid;
    grid-template-columns: 1rem 10% calc(80% - 1rem) 10%;

    margin-bottom: 1.5rem;
}

.notification-item-image {
    display: flex;
    align-items: center;
    height: 100%;
}

.notification-item-image img {
    width: 100%;
}

.notification-item-body {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5rem 1rem;
}

.notification-item-title {
    color: var(--theme-color);
    font-size: 18px;
    font-weight: bold;
}

.notification-item-brand {
    font-weight: normal;
    display: flex;
    align-items: center;
}

.notification-item-brand img {
   max-width: 25px;
   margin-right: 5px;
}

.notification-item-message {
    font-weight: normal;
}

.notification-item-control {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.notification-item-control button {
    box-shadow: none !important;
    height: 50%;
    font-size: 14px;
}

.resolve-btn-icon {
    width: 18px;
}

.dismiss-btn {
    background-color: #EAEAEA !important;
    color: #898989 !important;
}

.dismiss-btn-icon {
    font-size: 36px;
    line-height: 36px;
}

