@media screen and (max-width: 767px) {
    .right-bottom-border-md {
        border-right: none !important;
        border-bottom: 1px solid var(--theme-color);
        padding-bottom: 0.5em;
        margin-bottom: 1rem;;
    }
}

.right-bottom-border-md {
    border-right: 1px solid var(--theme-color);
}

.add-inventory-panel {
    padding: 1.5rem 2rem;
    border: 3px dashed var(--theme-color);
    border-radius: 25px;
}

.add-inventory-btn {
    color: inherit !important;
    text-decoration: none !important;
}
