.add-inventory-panel {
    padding: 1.5rem 2rem;
    border: 3px dashed var(--theme-color);
    border-radius: 25px;
}

.add-inventory-btn {
    color: inherit !important;
    text-decoration: none !important;
}

.notification-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notification-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification-title > p {
    color: #BF202F;
    line-height: 1.5rem;
    font-size: 1.3rem;
}

.notification-title > img {
    height: 1.5rem;
}

