@media screen and (min-width: 1284px) {
	.sidebar-control {
		display: none !important;
	}
}

.inventory-page {
}

.inventory-page-header {
	margin-bottom: 0.5rem;
	padding-left: 1.5rem;
}

.inventory-page-header h2 {
	color: var(--theme-color);
	font-weight: bolder;
	text-align: center;
	display: inline-block;
}

.inventory-page-body {
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	overflow: hidden;
}

.category-sidebar {
	min-width: 200px;
	height: 90vh;
	box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.25);
	background-color: #FFFFFF;
	border-left: 1px solid #DDD;
	margin-right: 2.5rem;
	position: relative;
	transition: all 0.5s ease;
}

.category-sidebar.hidden {
	margin-left: -200px;
	box-shadow: none;
}

.category-sidebar.hidden li.active {
	transform: none;
}

.category-sidebar.hidden .arrow-right {
	display: none;
}

.category-sidebar ul {
	width: 100%;
    display: flex;
    flex-direction: column;
   
	line-height: 0;
    list-style: none;
    padding-inline-start: 0px;
}

.category-sidebar ul li {
    width: 100%;
    margin-top: 1px;
	cursor: pointer;
	padding: 20px 1rem;
	transition: all .3s ease-out;
	position: relative;
}

.category-sidebar ul li:hover,
.category-sidebar ul li.active {
	transform: scale(1.05);
	border-radius: 0.1cm;
}

.category-sidebar ul li.active .arrow-right {
	height: 45px;
	width: 45px;
	position: absolute;
	right: -16px;
	bottom: -3px;
	transform: rotate(45deg);
}

.sidebar-control {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 0.5em;
	left: 0.5em;
	background-color: var(--theme-color);
	border-radius: 50%;
	opacity: 0.75;
	cursor: pointer;
	z-index: 9999;
}

.sidebar-control.hidden {
	transform: rotate(180deg);
}

.sidebar-control img {
	width: 25px;
	height: 25px;
}

.inventory-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.inventory-list .card {
	display: inline-flex;
	padding: 1rem;
	width: 200px;
	height: 250px;
	margin-right: 2rem;
	margin-bottom: 2rem;
	cursor: pointer;
	position: relative;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.card .cardImage {
	width: 100%;
	height: 75%;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin-bottom: 3px;
}

.card .cardImage img {
	width: 100%;
	border-radius: 7%;
}

.card .card-text {
	margin: 0;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card .card-text.light {
	font-size: 12px;
	font-weight: normal;
}

.card .cardQty {
	display: inline-block;
	width: auto;
	position: absolute;
	bottom: 0.35rem;
	right: 0.75rem;
}

.qty {
	color: var(--theme-color);
}

