@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --button-panel-height: 3rem;
  --theme-color: #BF202F;
  --theme-color-dark: #8F181A;
}

body {
  margin: 0;
  background-color: #F9F8F7 !important;
  color: #3D3D3D !important;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600 !important;
}

main {
  max-width: 1284px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.input-group {
  border-radius: 0.25rem;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.input-group input, .input-group button {
  box-shadow: none !important;
}