@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --theme-color: #BF202F;
}

body {
  margin: 0;
  background-color: #F9F8F7 !important;
  color: #3D3D3D !important;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600 !important;
}

@media screen and (max-width: 768px) {
  .paragraph-1 {
      font-size: 18px !important;
  }
}

main {
  max-width: 1284px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-1 {
  text-align: center;
  color: var(--theme-color);
  font-size: 24px;
  font-weight: bold;
}

.button-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

.back-button {
  border: 2px solid #C9C9C9;
  background-color: #EAEAEA;
  color: #898989;
  font-size: 20px;
  font-weight: bolder;
  height: 100%;
}
